<h1>Show Turno</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @turno.name %>
  </li>

  <li>
    <strong>Date:</strong>
    <%= @turno.date %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.turno_path(@conn, :edit, @turno) %></span> |
<span><%= link "Back", to: Routes.turno_path(@conn, :index) %></span>
